/* body {
    text-align: center;
    background-image: url(https://wallpapercave.com/wp/wp10821254.png);
} */
header {
    text-align: center;
    color:crimson
}

.bemvindo {
    text-align: center;
    font-weight: bold;
}

.identify label {
    width: 100%;
    display: inline-block;
    margin  : 10px;
    font-weight: bold;
}
.identify button {
    display: block;
    margin-left: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.identify input {
    margin-left: 50px;
}
.image{
    margin: 20px;

}

input[type=submit] {
    display: block; 
    margin-left: 48%;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .eventSimples button{
    display: block; 
    margin-left: 45%;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  thead{
      font-style: italic;
  }

  .FormTrack{
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
  }

.identify{
    display: block;
    text-align: center;
}

.eventSimples{
    display: block;
    text-align: center;
    
}
#nomePipz{
    display: flex;
    text-align: center;
    margin-left: 45%;
}

#emailPipz{
    display: block;
    text-align: center;
    margin-left: 45%;
}

#cidadePipz{
    display: block;
    text-align: center;
    margin-left: 45%;
    
}
#birthdate{
    display: block;
    text-align: center;
    margin-left: 45%;
}

#adicionarLinhaBtn {
    display: block; 
    margin-left: 48%;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: #04ad04;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

 .remove-button{
    cursor: pointer;
 }

 table.tabelaEnviada {
    font-family: "Arial Black", Gadget, sans-serif;
    border: 2px solid #0f7401;
    background-color: #64e05f;
    width: 100%;
    height: 200px;
    text-align: center;
    border-collapse: collapse;
  }
  table.tabelaEnviada td, table.tabelaEnviada th {
    border: 1px solid #4A4A4A;
    padding: 3px 2px;
  }
  table.tabelaEnviada tbody td {
    font-size: 13px;
    color: #000000;
  }
  table.tabelaEnviada tr:nth-child(even) {
    background: #1e6610;
  }
  table.tabelaEnviada thead {
    background: #044e04;
    border-bottom: 3px solid #044e04;
  }
  table.tabelaEnviada thead th {
    font-size: 15px;
    font-weight: bold;
    color: #E6E6E6;
    text-align: center;
    border-left: 2px solid #90e967;
  }
  table.tabelaEnviada thead th:first-child {
    border-left: none;
  }
  
  table.tabelaEnviada tfoot {
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    background: #000000;
    background: -moz-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
    background: -webkit-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
    background: linear-gradient(to bottom, #404040 0%, #191919 66%, #000000 100%);
    border-top: 1px solid #4A4A4A;
  }
  table.tabelaEnviada tfoot td {
    font-size: 12px;
  }

  .toLocalStorage {
    display: block;
    margin-left: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  /* 
Margin - Comprimento
Width - Largura
    padding é espaçamento interno, e pode ser:
-Left
-Right
-Top
-Botton
    margin é espaçamento externo e pode ser:
-Left
-Right
-Top
-Botton 
-----------------------
display block - Ocupa todo o conteudo da linha que ele está na page
display inline - Não deixa alterar o espaçamento interno ou externo
display block-inline - Ele bloqueia uma largura, porem fixa. Podemos escolher todos os espaçamentos nesse caso*/