/* body {
    text-align: center;
    background-image: url(https://wallpapercave.com/wp/wp10821254.png);
} */
header {
    text-align: center;
    color:crimson
}

.bemvindo {
    text-align: center;
    font-weight: bold;
}

.identify label {
    width: 100%;
    display: inline-block;
    margin  : 10px;
    font-weight: bold;
}
.identify button {
    display: block;
    margin-left: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.identify input {
    margin-left: 50px;
}
.image{
    margin: 20px;

}

input[type=submit] {
    display: block; 
    margin-left: 50%;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .eventSimples button{
    display: block; 
    margin-left: 45%;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  thead{
      font-style: italic;
  }

  .FormTrack{
      display: block;
      text-align: center;
  }
  .identify{
    display: block;
    text-align: center;
}

.eventSimples{
    display: block;
    text-align: center;
}


table{
    text-align: center;
    margin: auto;
    width: 50%;
    border: 1px solid black;
}

table td {
    border: 1px solid blue;
}

table th {
    border:1px solid red;
}

thead {
    text-align: center;
}

.tableTitle{
    font-size: larger;
    text-align: center;
    font-size: 30px;
    margin-bottom: 0px;
}

  /* 
Margin - Comprimento
Width - Largura
    padding é espaçamento interno, e pode ser:
-Left
-Right
-Top
-Botton
    margin é espaçamento externo e pode ser:
-Left
-Right
-Top
-Botton 
-----------------------
display block - Ocupa todo o conteudo da linha que ele está na page
display inline - Não deixa alterar o espaçamento interno ou externo
display block-inline - Ele bloqueia uma largura, porem fixa. Podemos escolher todos os espaçamentos nesse caso*/