/* body {
    text-align: center;
    background-image: url(https://wallpapercave.com/wp/wp10821254.png);
} */
header {
    text-align: center;
    color:crimson
}

.bemvindo {
    text-align: center;
    font-weight: bold;
}

.identify label {
    width: 100%;
    display: inline-block;
    margin  : 10px;
    font-weight: bold;
}
.identify button {
    display: block;
    margin-left: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.identify input {
    margin-left: 50px;
}
.image{
    margin: 20px;

}

input[type=submit] {
    display: block; 
    margin-left: 50%;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .eventSimples button{
    display: block; 
    margin-left: 45%;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }