body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(81, 155, 8);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #fcfcfc;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.loginContainer input,
.loginContainer button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
}

.loginContainer button {
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
}

.loginContainer button:hover {
    background-color: #45a049;
}

.imagemContainer img {
    width: 50px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Estilo geral do formulário */
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

label {
    margin-top: 10px;
}

input[type="text"],
input[type="date"],
select {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

/* Estilo para as checkboxes alinhadas horizontalmente */
p {
    margin-top: 15px;
    margin-bottom: 5px;
}


.formLogin {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para a imagem */
.imagemContainer {
    margin-top: 20px;
    text-align: center;
}

.imagemContainer img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

#enviaCadastro {
    display: block; 
    background-color: #022e03;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }